.wholestuff{
	width: 100%;
	height: 100%;
	color: white;
	background-image: url("https://tof.cx/images/2019/10/28/61a0fc1c437a4627a6d528603785abf0.jpg");
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
}

.youpi{
    display: block;
    margin-left: auto;
    margin-right: auto
}