<div>
    <h2>Transport Enterprise Add</h2>
    <div>
        <label>Id :
            <input [(ngModel)]="tE.id_transportEntreprise" placeholder="Numéro d'identification" />
        </label><br>
        <label>Nom :
            <input [(ngModel)]="tE.name" placeholder="Nom" />
        </label><br>
        <label>Collectivité :
            <select [(ngModel)]="tE.collectivity">
                <option *ngFor="let c of collectivities" [ngValue]="c">{{c.name}}</option>
            </select></label><br>
    </div>
    <button mat-raised-button color="accent" (click)="add()">Save</button>
</div>