<div>
    <h2>Seat Edit</h2>


<table>
    <tr>
        <td>Id :</td>
        <td><input [(ngModel)]="seatData.id_seat" placeholder="Numéro d'identification" /></td>
    </tr>
    <tr>
        <td>Placement :</td>
        <td><input [(ngModel)]="seatData.placement" placeholder="Placement" /></td>
    </tr>
    <tr>
        <td>Réservable :</td>
        <td><input type="checkbox" [(ngModel)]="seatData.reservable" value="true"></td>
    </tr>
    <tr>
        <td>isReserved :</td>
        <td><input type="checkbox" [(ngModel)]="seatData.isReserved" value="true"></td>
    </tr>
    <tr>
        <td>Vehicle :</td>
        <td><select [(ngModel)]="seatData.vehicle">
                <option *ngFor="let v of vehicles" [ngValue]="v">{{v.immatriculation}}</option>
            </select></td>
    </tr>
</table>

<p style="text-align: center;"><button mat-raised-button color="accent" (click)="update()">Save</button></p>
</div>