<div>
    <h2>Seat Edit</h2>
    <div>
        <label>Id :
            <input [(ngModel)]="seatData.id_line" placeholder="Numéro d'identification" />
        </label><br>
        <label>Placement :
            <input [(ngModel)]="seatData.placement" placeholder="Placement" />
        </label><br>
        <label>Réservable :
            <input type="checkbox" [(ngModel)]="seatData.reservable" value="true">
        </label><br>
        <label>isReserved :
            <input type="checkbox" [(ngModel)]="seatData.isReserved" value="true">
        </label><br>
        <!-- <label>Vehicule :
            <select [(ngModel)]="seatData.vehicle">
                <option  *ngFor="let v of vehicles" value="">{{v}}</option>
            </select></label><br> -->
        <label>Vehicle :
            <select [(ngModel)]="seatData.vehicle">
                <option *ngFor="let v of vehicles" value="{{v}}">{{v.immatriculation}}</option>
            </select></label><br>
    </div>
    <button mat-raised-button color="accent" (click)="update()">Save</button>
</div>