<div>
    <h2>Line Add</h2>
    <table>
        <tr>
            <td>Id :</td>
            <td><input [(ngModel)]="lineData.id_line" placeholder="Numéro d'identification" /></td>
        </tr>
        <tr>
            <td>Nom :</td>
            <td><input [(ngModel)]="lineData.name" placeholder="Nom de la ligne" /></td>
        </tr>
        <tr>
            <td>Localisation :</td>
            <td><input [(ngModel)]="lineData.localisation" placeholder="Localisation" /></td>
        </tr>
    </table>

    <p style="text-align: center;"><button mat-raised-button color="accent" (click)="add()">Save</button></p></div>