<table mat-table [dataSource]="dataSource" class="mat-elevation-z1">

    <ng-container matColumnDef="line">
        <th mat-header-cell *matHeaderCellDef> Ligne </th>
        <td mat-cell *matCellDef="let element"> {{element.line.name}} </td>
    </ng-container>
    
    <ng-container matColumnDef="placesLeft">
        <th mat-header-cell *matHeaderCellDef> Place restantes </th>
        <td mat-cell *matCellDef="let element"> {{element.placesLeft}} </td>
    </ng-container>
    
    <ng-container matColumnDef="id_bus">
        <th mat-header-cell *matHeaderCellDef> Id du bus </th>
        <td mat-cell *matCellDef="let element"> {{element.id_bus}} </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedRows"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedRows;"></tr>

</table>