<mat-sidenav-container class="menu-bar">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
        (closed)="events.push('close!')">
        <table>
            <tr><td><button mat-flat-button (click)="goMesLignes()">Mes lignes</button></td></tr>
            <tr><td><button mat-flat-button (click)="goLeTrafic()">Le trafic</button></td></tr>
            <tr><td><button mat-flat-button (click)="goReserver()">Reserver</button></td></tr>
            <tr><td><button mat-flat-button (click)="goMonProfil()">Mon Profil</button></td></tr>
            <td><tr><button mat-raised-button color="warn" class="accueil-button" (click)="returnToAccueil()">BookMySeat</button></tr></td>
        </table>
    </mat-sidenav>

    <mat-sidenav-content>
        <p><button mat-icon-button color="accent" (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button></p>
    </mat-sidenav-content>
</mat-sidenav-container>