<div>
    <h2>Seat Reservation Edit</h2>
    <table>
        <tr>
            <td>Id :</td>
            <td><input [(ngModel)]="reservationData.id_seat_reservation" placeholder="Numéro d'identification" /></td>
        </tr>
        <tr>
            <td>Heure de début :</td>
            <td><input [(ngModel)]="reservationData.starting_time" placeholder="hh:mm" /></td>
        </tr>
        <tr>
            <td>Heure de fin :</td>
            <td><input [(ngModel)]="reservationData.release_time" placeholder="hh:mm" /></td>
        </tr>
        <tr>
            <td>Utilisateur :</td>
            <td><select [(ngModel)]="reservationData.user">
                    <option *ngFor="let u of users" [ngValue]="u">{{u.username}}</option>
                </select></td>
        </tr>
        <tr>
            <td>Seat :</td>
            <td> <select [(ngModel)]="reservationData.seat">
                    <option *ngFor="let s of seats" [ngValue]="s">{{s.placement}}</option>
                </select></td>
        </tr>
    </table>
    <p style="text-align: center;"><button mat-raised-button color="accent" (click)="update()">Save</button></p>
</div>