<div class="body">
        <app-accueil-button></app-accueil-button>
    
        <h3 id="title">BookMySeat</h3>
        <h1 id="tutle">Gestion des utilisateurs</h1>
    
        <div class="youpi">
            <table style="text-align: center;">
    
                <tr>
                    <td> <button mat-raised-button color="warn" class="accueil-button"
                            (click)="consult()">Consulter les utilisateurs</button>
                    </td>
                    <td> <button mat-raised-button color="warn" class="accueil-button"
                            (click)="add()">Ajouter un nouvel utilisateur</button>
                    </td>
                    <td> <button mat-raised-button color="warn" class="accueil-button"
                        (click)="reservations()">Consultation des réservations</button>
                </td>
            
                </tr>
    
    
            </table>
    
        </div>
    </div>
    <app-retour></app-retour>