<div class="body">
    <app-menu-bar></app-menu-bar>
    <h1 id="title">Le trafic</h1>
    <table mat-table #table [dataSource]="dataSource">
        
        <ng-container matColumnDef="line">
            <th mat-header-cell *matHeaderCellDef> Ligne </th>
            <td mat-cell *matCellDef="let bus"> {{bus.line.name}} </td>
        </ng-container>

        <ng-container matColumnDef="station">
            <th mat-header-cell *matHeaderCellDef> Station actuelle </th>
            <td mat-cell *matCellDef="let bus"> rien </td>
        </ng-container>

        <ng-container matColumnDef="placesLeft">
            <th mat-header-cell *matHeaderCellDef> Places restantes </th>s
            <td mat-cell *matCellDef="let bus"> {{bus.placesLeft}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnDisplayed"></tr>
        <tr mat-row *matRowDef="let row; columns: columnDisplayed;"></tr>
    </table>
</div>