<div class="body">
    <app-menu-bar></app-menu-bar>
    <h1 id="title">Reserver</h1>

    <div class="container">
        <mat-select placeholder="Choisissez votre ligne" [(ngModel)]="lines" name="item">
            <mat-option *ngFor="let item of lines" [value]="item.name">
                {{item.name}}
            </mat-option>
        </mat-select>
    </div>
    <button mat-raised-button color="warn" id="toBus" (click)="toBus()">Choix de vehicule</button>

    <div *ngIf="line.isValid">
        <mat-select placeholder="Choisissez la station" [(ngModel)]="lines" name="item">
            <mat-option *ngFor="let item of lines" [value]="item.name">
                {{item.name}}
            </mat-option>
        </mat-select>
    </div>
</div>