<div>
    <h2>Station Add</h2>

    <table>
            <tr>
                <td>Id :</td>
                <td><input [(ngModel)]="stationData.id_station" placeholder="Numéro d'identification" /></td>
            </tr>
            <tr>
                <td>Nom :</td>
                <td><input [(ngModel)]="stationData.name" placeholder="Nom" /></td>
            </tr>
            <tr>
                <td>Localisation :</td>
                <td><input [(ngModel)]="stationData.localisation" placeholder="Emplacement" /></td>
            </tr>
        </table>
    <p style="text-align: center;"><button mat-raised-button color="accent" (click)="add()">Save</button></p></div>