<div class="body">
    <app-accueil-button></app-accueil-button>
    
    <h3 id="title">BookMySeat</h3>
    <h1 id="tutle">Gestion administrative</h1>
    
    <div class="youpi">
        <table style="text-align: center;">

            <tr>
                <td>    <button mat-raised-button color="warn" class="accueil-button" (click)="collectivities()">Collectivités</button>
                </td>
                <td>    <button mat-raised-button color="warn" class="accueil-button" (click)="transportEnterprise()">Entreprises de transport</button>
                </td>
            </tr>
    
    
</table>
    
    </div>
    </div>
    <app-retour></app-retour>