<h1>Line List</h1>

<table class="line">
    <tr style="border: none;"><button mat-raised-button color="accent" (click)="add()">
        Add
      </button></tr>
      <tr style="border: none;"></tr>
      <tr style="border: solid 1px">
        <th>id</th>
        <th>Nom</th>
        <th>Localisation</th>
        <th>Supprimer</th>
        <th>Mettre à jour</th>
      </tr>
  <tr style="border: solid 1px" *ngFor="let l of lines; let i=index;">
    <td><span class="badge">{{l.id_line}}</span></td>
    <td>{{l.name}}</td>
    <td>{{l.localisation}}</td>
    <td><button mat-raised-button color="accent" class="delete" title="Delete"
      (click)="delete(l.id_line)">x</button></td>
    <td><button mat-raised-button color="accent" class="update" title="Update"
      (click)="edit(l.id_line)">modifier</button></td>
  </tr>
</table>