<h2>Seat List</h2>

<div>
  <button (click)="add()">
    Add
  </button>
</div>

<table class="seat" style="border: solid 1px">
  <tr *ngFor="let s of seats; let i=index;">
    <td><span class="badge">{{s.id_seat}}</span></td>
    <td> {{s.placement}}</td>
    <td><span *ngIf="s.reservable">réservable</span>
      <span *ngIf="!s.reservable">non réservable</span></td>
    <td><span *ngIf="s.isReserved">réservé</span>
      <span *ngIf="!s.isReserved">non réservé</span></td>
    <td><button class="delete" title="Delete"
      (click)="delete(s.id_seat)">x</button></td>
    <td><button class="update" title="Update"
      (click)="edit(s.id_seat)">modifier</button></td>
  </tr>
</table>