<div>
    <h1>Collectivity Edit</h1>
    <table>
        <tr>
            <td>Id :</td>
            <td><input [(ngModel)]="collectivityData.id_collectivity" placeholder="Numéro d'identification" /></td>
        </tr>
        <tr>
            <td>Collectivité :</td>
            <td> <input [(ngModel)]="collectivityData.name" placeholder="Nom de la collectivité" /></td>
        </tr>
        <tr>
            <td>Zone d'opération :</td>
            <td><input [(ngModel)]="collectivityData.operation_area" placeholder="Zone d'opération" /></td>
        </tr>
      
    </table>
    <p style="text-align: center;"><button mat-raised-button color="accent" (click)="update()">Save</button></p>
</div>
<app-retour></app-retour>