#title {
    position: relative;
    margin-top: 5cm;
    margin-left: 40%;
    align-self: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
table {
    width: 70%;
    margin-left: 15%;
}