<div>
    <h2>Vehicle Edit</h2>
 
    <table>
            <tr>
                <td>Id :</td>
                <td><input [(ngModel)]="vehicleData.id_vehicle" placeholder="Numéro d'identification" /></td>
            </tr>
            <tr>
                <td>Immatriculation :</td>
                <td><input [(ngModel)]="vehicleData.immatriculation" placeholder="Immatriculation" /></td>
            </tr>
            <tr>
                <td>Capacité :</td>
                <td><input [(ngModel)]="vehicleData.capacity" placeholder="Nombre total de places" /></td>
            </tr>
            <tr>
                <td>Passagers :</td>
                <td><input [(ngModel)]="vehicleData.passengers" placeholder="Nombre de passagers" /></td>
            </tr>
            <tr>
                <td>Places restantes :</td>
                <td><input [(ngModel)]="vehicleData.placesLeft" placeholder="Places restantes" /></td>
            </tr>
            <tr>
                <td>Taux de remplissage % :</td>
                <td><input [(ngModel)]="vehicleData.fullRate" placeholder="Taux de remplisage (pourcentage)" /></td>
            </tr>
            <tr>
                <td>Ligne :</td>
                <td><select [(ngModel)]="vehicleData.line">
                        <option *ngFor="let l of lines" [ngValue]="l">{{l.name}}</option>
                    </select></td>
            </tr>
        </table>
    <p style="text-align: center;"><button mat-raised-button color="accent" (click)="update()">Save</button></p></div>
