<h2>Station List</h2>


<table class="station" style="border: solid 1px">
        <tr>
                <th>id</th>
                <th>Nom</th>
                <th>Localisation</th>
                <th>Supprimer</th>
                <th>Mettre à jour</th>
              </tr>
  <tr *ngFor="let s of stations; let i=index;">
    <td><span class="badge">{{s.id_station}}</span></td>
    <td> {{s.name}}</td>
      <td>{{s.localisation}}</td>
    <td><button mat-raised-button color="accent" class="delete" title="Delete"
      (click)="delete(s.id_station)">x</button></td>
    <td><button mat-raised-button color="accent" class="update" title="Update"
      (click)="edit(s.id_station)">modifier</button></td>
  </tr>
</table>
<p style="text-align: center;"><button mat-raised-button color="accent" (click)="add()">Add</button></p>
