<h2 id="tutle">Users List</h2>

<table class="user" style="border: solid 1px;">
  <tr>
    <th>id</th>
    <th>Nom</th>
    <th>Prénom</th>
    <th>Date de naissance</th>
    <th>Adresse</th>
    <th>Code postal</th>
    <th>Ville</th>
    <th>Pays</th>
    <th>Email</th>
    <th>Pseudo</th>
    <th>Supprimer</th>
    <th>Mettre à jour</th>
  </tr>
  <tr *ngFor="let u of users; let i=index;">
    <td><span class="badge">{{u.id_user}}</span></td>
    <td> {{u.name}}</td>
    <td>{{u.firstName}}</td>
    <td>{{u.dateDeNaissance}}</td>
    <td>{{u.num}} {{u.street}}</td>
    <td>{{u.postalCode}}</td>
    <td>{{u.city}}</td>
    <td>{{u.country}}</td>
    <td>{{u.email}}</td>
    <td>{{u.username}}</td>
    <td><button mat-raised-button color="accent" class="delete" title="Delete"
      (click)="delete(u.id_user)">x</button></td>
    <td><button mat-raised-button color="accent" class="update" title="Update"
      (click)="edit(u.id_user)">modifier</button></td>
  </tr>
</table>
<p style="text-align: center;"><button mat-raised-button color="accent" (click)="add()">Add</button></p>

