<div>
    <h2>Line Edit</h2>
    <div>
        <label>Id :
            <input [(ngModel)]="lineData.id_line" placeholder="Numéro d'identification" />
        </label><br>
        <label>Nom :
            <input [(ngModel)]="lineData.name" placeholder="Nom de la ligne" />
        </label><br>
        <label>Localisation :
            <input [(ngModel)]="lineData.localisation" placeholder="Localisation" />
        </label><br>
    </div>
    <button mat-raised-button color="accent" (click)="update()">Save</button>
</div>