<h1>Collectivity List</h1>


<table class="collectivity" >
  <tr style="border: none;"><button mat-raised-button color="accent" (click)="add()">
      Add
    </button></tr>
    <tr style="border: none;"></tr>
    <tr style="border: solid 1px">
        <th>id</th>
        <th>Nom</th>
        <th>Secteur</th>
        <th>Supprimer</th>
        <th>Mettre à jour</th>
      </tr>
  <tr style="border: solid 1px" *ngFor="let c of collectivities; let i=index;">
    <td><span class="badge">{{c.id_collectivity}}</span></td>
    <td>{{c.name}}</td>
    <td>{{c.operation_area}}</td>
    <td><button mat-raised-button color="accent" class="delete" title="Delete"
      (click)="delete(c.id_collectivity)">x</button></td>
    <td><button mat-raised-button color="accent" class="update" title="Update"
      (click)="edit(c.id_collectivity)">modifier</button></td>
  </tr>
</table>

<app-retour></app-retour>