<div class="body">
<app-accueil-button></app-accueil-button>

<h1 id="title">BookMySeat</h1>
<h3 id="tutle">Interface de gestion</h3>

<div class="youpi">
<button mat-raised-button color="warn" class="accueil-button" (click)="administration()">Gestion administration</button>
<!-- Consultation, ajout et modifications des collectivités et entreprises de transport -->

<button mat-raised-button color="warn" class="accueil-button" (click)="lines()">Gestion des lignes</button>
<!-- Consultation, ajout et modifications des lignes, vehicules, sièges, stations et horaires -->

<button mat-raised-button color="warn" class="accueil-button" (click)="users()">Gestion des utilisateurs</button>
<!-- Consultation, ajout et modifications des utilisateurs : ajout des autorisations d'accès // handicap -->

</div>
</div>