#title{
    text-align: center;
    padding-top: 160px;
    color: white;
}

#tutle{
text-align: center;
color: white
}

.youpi{
    margin-left: auto;
    margin-right: auto;
    padding : 50px;
    text-align: center;
}

.body{
    margin-top: -25px;
    background-image: url("https://tof.cx/image/qnUBU7");
    height: 100%
}